/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.entry {
	background-color:grey;
	margin:0px;
	position:fixed;
}

footer {
float:bottom;
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
	
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;
    color: white;

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: red;
	  font-size: 16ox;
	}
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
} 

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear: both;

} 

/* Opera Fix thanks to Maleika (Kohoutec) */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}

#banner {
	background-color:white;
	margin:0;
	position:fixed;
}

img{
	border:0;
	padding:5px;
	padding-bottom:0px;
}

a:hover img {
border: none !important;
display: block;
}

.container-fluid {
	position:fixed;
}

.navbar navbar-default {
	position:fixed;
}

nav.navbar-default {
	position:fixed;
}



a {
	font-size:25px;

}

.field {
	font-size:25px;
	color:white;
}

h1{
	color:white;
}


#login{
	font-size:25px;
	color:white;
	padding:20px;
	border:solid;
	width:50%;
}

#submit_tag{
	color:black;
	font-size:20px;
}

legend{
	font-size:25px;
	color:white;
}

.new_user{
	padding:20px;
	border:solid;
	border-color:white;
	color:white;
	width:50%;
	
}

.actions{
	color:black;
}

#new_user_div{
	padding-left:200px;
	background-color:red;
}

.field{
	color:black;
}

label{
	color:white;
}


.new_dive_form{
	
	border:solid;
	border-color:white;
	padding:20px;
	width:25%;
}

submit{
	height:30px;
}

.dive_table{
	font-size:25px;
	width:50%;
}

table{
	background-color:#42f4cb;
	font-size:25px;
	padding:20px;
}

tbody{
	background-color:#42f4cb;
}

td{
	font-size:20px;
}

.table_cell{
	display:block;
	width:20pc;
	font-size:20px;
	border:solid;
	border-color:white;
	padding:5px;
	float:left;
	color:white;
	
	
			
}

content_tag{
	font-size:20px;
}
.list_line_even{
	font-size:20px;
}

.list_image:hover {
border: none !important;
display: block;
}

#divelistheader{
	color:white;
	
}

.details{
	float:center;
	background-color:black;
	top:50px;
}

#showdive{
	margin: auto;
	display:block;
	width:80pc;
	font-size:20px;
	border:solid;
	border-color:white;
	padding:5px;
	
	color:white;
}

#imagediv{
	width:30pc;
	margin:auto;
	display:block;
}

#contentsdiv{
	padding:4px;
	float:left;
	width:35pc;
	display:block;
}
