<%= image_tag("https://static.pexels.com/photos/66218/pexels-photo-66218.jpeg",id: "fish_img") %>

<div class="window"></div>

<div class="page">
<br/>




<div>
<center><h1>About</h1>
<p>This website has been developed so that divers from across the country can share the dives they have went on together.</p>

<p>The hope is that users will be able to show their experience level to each other</p>
<centre></div>
