<%= image_tag("https://upload.wikimedia.org/wikipedia/commons/4/47/Octopus_shell.jpg",class: "octopus_img") %>

<div class="window"></div>

<div class="page">
<br/>




<div>
<center><h1>Contact</h1>
<p>This website has been developed so that divers from across the country can share the dives they have went on together.</p>

<p>The hope is that users will be able to show their experience level to each other</p>
<centre></div>
