<%= image_tag("https://upload.wikimedia.org/wikipedia/commons/f/f1/Whale_shark_Georgia_aquarium.jpg",class: "background_img") %>

<div class="window"></div>

<div class="page">
<br/>

<center><h1 id="welcome">welcome text views/store/home.html.erb</h1>
<p>nkjjsdfdgnjfj jjjjjjjjjjj jjjjjjjjjjj jjjjjjjjjjj jjjjjjjjjjj</p></center>
<br/>

</div>
